body {
    background-color: #232324;
    font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #232324; 
  background-image: url('/src/assets/images/fundo4.png'); 
  background-size: cover;
  background-position: center; 
  }
    
  .loginForm {
    text-align: center;
    padding: 40px;
    background-color: #3E3A3A;
    border-radius: 8px;
    width: 80%;
    max-width: 250px;
  }

  .loginForm h4{
    margin-top: -15px;
  }

  .link {
    cursor: pointer;
    color: #232324; /* cor do texto do link */
    text-decoration: none;
  }

  .link:active {
      color: #ffffff; /* cor quando o link é clicado */
  }
  
  input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #f5cb5c;
  }
  
  button {
    background-color: #818181;
    color: #232324;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    opacity: 0.9;
  }

  button:active {
    color: #ffffff; /* cor quando o link é clicado */
  }

  .loginLogo {
    width: 150px;
    height: 30px;
  }
  