/* Estilo para o fundo cinza escuro */
body {
    background-color: #11091a; /* color1 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para o título */
h1 {
    font-family: "Arial", sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    color: #bab195; /* color5 */
}

/* Estilos CSS para a barra lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2f2f4d; /* color2 */
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #bab195; /* color5 */
    display: block;
}

.sidenav a:hover {
    background-color: #626970; /* color3 */
}

.sidenav h2 {
    color: #bab195; /* color5 */
    margin-top: 40px;
}

.update-icon {
    font-size: 15px; /* Tamanho desejado para o ícone */
    margin-right: 5px; /* Espaçamento à direita do ícone (opcional) */
}

.titulopagina {
    margin-left: 270px; /* Deve ser maior que a largura da barra lateral */
    padding: 20px;
    z-index: 1; /* Defina um valor de z-index menor */
    color: #bab195; /* color5 */
    flex: 1; /* Permite que o conteúdo principal cresça e ocupe o espaço disponível */
    padding-bottom: 60px; /* Espaço para o rodapé */
}

.charts-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaçamento entre os itens */
}

.charts {
    background-color: #626970; /* color3 */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
    font-family: "Arial", sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    width: 100%;
    height: 450px;
    color: #bab195; /* color5 */
}

.charts h1 {
    text-align: center;
    color: #bab195; /* color4 */
}

/* Estilo para o container do iframe na barra lateral */
iframe {
    margin-top: 80px;
}

/* Estilo para o cabeçalho */
header {
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0; /* Coloca o cabeçalho no topo da página */
    width: 100%; /* Largura na tela toda */
    height: 50px; /* Altura de 50px */
    background-color: #2f2f4d; /* color2 */
    color: #bab195; /* color5 */
    font-family: "Arial", sans-serif; /* Fonte */
    z-index: 2; /* Defina um valor de z-index maior */
}

/* Estilo para o título no cabeçalho */
header h2 {
    margin-left: 10px; 
    margin-top: 10px;
    color: #bab195; /* color4 */
}

/* Estilo para a lista de navegação no cabeçalho */
nav ul {
    text-align: center;
    list-style: none; /* Remove marcadores de lista */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

nav li {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento à direita de 20px entre os itens */
}

.link {
    cursor: pointer;
    color: #bab195; /* color5 */
    text-decoration: none;
}

.link:active {
    color: #087cfc; /* cor quando o link é clicado */
}

#logout {
    margin-top: 50px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 15px;
    color: #bab195; /* color5 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #4a4f5a; /* penúltima cor da paleta */
}

table, th, td {
    border: 1px solid #2f2f4d; /* quarta cor da paleta */
}

th, td {
    text-align: left;
    padding: 8px;
    color: #11091a; /* primeira cor da paleta para o texto dentro da tabela */
}

th {
    background-color: #2a263f; /* terceira cor da paleta */
    color: #bab195; /* última cor da paleta para o texto do cabeçalho da tabela */
}

tr:nth-child(even) {
    background-color: #1d192d; /* segunda cor da paleta */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .sidenav a:hover {
        background-color: #2f2f4d; /* quarta cor da paleta */
    }

    .titulopagina {
        margin-left: 0;
        padding: 10px;
    }

    .charts-container {
        grid-template-columns: 1fr; /* 1 coluna */
        gap: 10px; /* Espaçamento entre os itens */
    }

    header {
        height: auto;
        padding: 10px;
    }

    header h2 {
        margin: 0;
        text-align: center;
    }

    nav ul {
        padding: 10px;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    table, thead, tbody, th, td, tr {
        display: block; /* Exibe os elementos como blocos */
    }

    th, td {
        padding: 10px; /* Ajusta o padding */
        text-align: right; /* Alinha o texto à direita */
        position: relative; /* Necessário para o pseudo-elemento */
    }

    th::before, td::before {
        content: attr(data-label); /* Usa o atributo data-label como conteúdo */
        position: absolute;
        left: 10px; /* Alinha o texto à esquerda */
        white-space: nowrap; /* Impede quebra de linha */
        font-weight: bold; /* Negrito para os rótulos */
    }

    th, td {
        border: none; /* Remove as bordas */
        border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior */
    }

    tr {
        margin-bottom: 10px; /* Espaçamento entre as linhas */
    }

    thead {
        display: none; /* Esconde o cabeçalho */
    }
}

footer {
    position: fixed;
    bottom: 0; /* Coloca o rodapé na parte inferior da página */
    width: 100%; /* Largura na tela toda */
    height: 50px; /* Altura de 50px */
    background-color: #2f2f4d; /* color2 */
    color: #bab195; /* color5 */
    font-family: "Arial", sans-serif; /* Fonte */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno de 10px */
    z-index: 1000; /* Garante que o rodapé fique na frente do conteúdo */
}