/* Estilo para o fundo cinza claro */
body {
    background-color: #9b9b9b;

/* Estilo para o título */
h1 {
    font-family: "Arial", sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
}

/* Estilos CSS para a barra lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 35px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}



.sidenav a:hover {
    background-color: #555;
}

.sidenav h2 {
    color: white;
}

.update-icon {
    font-size: 15px; /* Tamanho desejado para o ícone */
    margin-right: 5px; /* Espaçamento à direita do ícone (opcional) */
}

.titulopagina{
    margin-left: 270px; /* Deve ser maior que a largura da barra lateral */
    padding: 20px;
    z-index: 1; /* Defina um valor de z-index menor */
}

.charts-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    
}

.charts {
    background-color: #727171;
    padding: 10px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
    font-family: "Arial", sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    margin-top: -50px;
    width: 400px;
    height: 450px;
}

.charts h1 {
    text-align: center;
}

/* Estilo para o container do iframe na barra lateral */
iframe {
    margin-top: 80px;
}

/* Estilo para o cabeçalho */
header {
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0; /* Coloca o cabeçalho no topo da página */
    width: 100%; /* Largura na tela toda */
    height: 50px; /* Altura de 50px */
    background-color: #333; /* Fundo cinza escuro */
    color: #fff; /* Cor do texto branca */
    font-family: "Arial", sans-serif; /* Fonte */
    z-index: 2; /* Defina um valor de z-index maior */
}

/* Estilo para o título no cabeçalho */
h2 {
    margin-left: 10px; 
    margin-top: 40px;
}

/* Estilo para a lista de navegação no cabeçalho */
nav ul {
    text-align: center;
    list-style: none; /* Remove marcadores de lista */
    margin-left: 270px; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

nav li {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento à direita de 20px entre os itens */
}

.link {
    cursor: pointer;
    color: #ffffff; /* cor do texto do link */
    text-decoration: none;
}

.link:active {
    color: #087cfc; /* cor quando o link é clicado */
}

#logout {
    margin-top: 50px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}




   table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  table,
  th,
  td {
    border: 1px solid #585757;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #7e7e7e;
    color: rgb(8, 8, 8);
  }
  tr:nth-child(even) {
    background-color: #5c5b5b;
  } 
}